.hero {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
  max-width: 1600px;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/goit-markup-hw-08/images/banner/banner-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  // @include tablet {
  //   background-image: linear-gradient(
  //       to right,
  //       rgba(47, 48, 58, 0.4),
  //       rgba(47, 48, 58, 0.4)
  //     ),
  //     url(/goit-markup-hw-08/images/banner/banner-img-tablet-x1.jpg);
  // }

  // @include desktop {
  //   background-image: linear-gradient(
  //       to right,
  //       rgba(47, 48, 58, 0.4),
  //       rgba(47, 48, 58, 0.4)
  //     ),
  //     url(/goit-markup-hw-08/images/banner/banner-img-desktop-x1.jpg);
  // }

  &__headline {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-txt-color);
    margin-bottom: 30px;
  }

  @include desktop {
    font-size: 44px;
    line-height: 1.36;
  }

  &__button {
    background: var(--brand-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--third-txt-color);
    cursor: pointer;
    border-style: none;
    border-radius: 4px;
    padding: 10px 41px;
    transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
