* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    & {
      width: 448px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      width: 768 px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      width: 1200px;
    }
  }

  @include mq(phone) {
    width: 448px;
  }

  @include mq(tablet) {
    width: 768px;
  }

  @include mq(desktop) {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* padding: 94px 0; */
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}

button {
  cursor: pointer;
}
